<a href="https://colab.research.google.com/github/gerald-wambui/data_structures_in_python/blob/discussion/sets_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
'''
sets are a mutable collection of unique unordered
elements
set() method removes duplicates from the collection

'''

nums = [1, 23, 23, 12, 44, 12, 26, 23, 1, 1]
unique_nums = set(nums)
print(nums)
print(unique_nums)

[1, 23, 23, 12, 44, 12, 26, 23, 1, 1]
{1, 12, 44, 23, 26}

In [6]:
#if len(nums) < len(unique_nums): print("not a set")
#else:
#  print("a set\n")

print(len(nums))
print(len(unique_nums))

a set

10
5

In [16]:
#sets use add() method as compared to list's append() method
#the added element is placed at a random location/index
unique_nums.add(40)

print(unique_nums)

{1, 40, 12, 44, 23, 26}

In [17]:
#to delete elements use pop() method takes no arguments
#it pops the first number in the set
unique_nums.pop()
print(unique_nums)

{40, 12, 44, 23, 26}

In [18]:
unique_nums.pop()
print(unique_nums)

{12, 44, 23, 26}

In [19]:
unique_nums.pop()
print(unique_nums)

{44, 23, 26}